.index_titWidth {
    MARGIN: 3px 5px 0px 0px
}

.index_left {
    MARGIN-LEFT: 10px
}

.index_news {
    MARGIN: 2px 30px 0px 13px;
    WIDTH: 484px;
    DISPLAY: inline
}

.index_newsTit {
    LINE-HEIGHT: 30px;
    WIDTH: 484px;
    BACKGROUND: url(images/index_28.jpg) repeat-x;
    HEIGHT: 30px
}

.index_newsTitHeight {
    MARGIN: 10px 10px 0px 0px
}

.index_news UL {
    MARGIN-TOP: 10px
}

.index_news UL LI {
    BORDER-BOTTOM: #cccccc 1px dashed;
    LINE-HEIGHT: 26px;
    WIDTH: 484px;
    BACKGROUND: url(images/dian.gif) no-repeat 0px 10px;
    HEIGHT: 26px
}

.index_products {
    MARGIN-TOP: 10px;
    WIDTH: 215px
}

.index_productsT {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 14px;
    WIDTH: 215px;
    BACKGROUND: url(images/index_45.jpg) no-repeat;
    HEIGHT: 14px;
    FONT-SIZE: 0px
}

.index_productsT IMG {
    MARGIN-TOP: 3px
}

.index_productsC {
    WIDTH: 215px;
    BACKGROUND: url(images/index_47.jpg) repeat-y;
    HEIGHT: auto;
    FONT-SIZE: 0px
}

.index_productsC IMG {
    MARGIN: 1px 0px 1px 1px
}

.index_productsB {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 14px;
    WIDTH: 215px;
    BACKGROUND: url(images/index_50.jpg) no-repeat;
    HEIGHT: 14px;
    FONT-SIZE: 0px
}

.index_productsB IMG {
    MARGIN-TOP: 3px
}

.index_productsTit {
    MARGIN-BOTTOM: 7px
}

.index_service {
    MARGIN-TOP: 4px;
    WIDTH: 180px
}

.index_servicePIC {
    MARGIN-TOP: 14px;
    WIDTH: 180px
}

.index_solution {
    MARGIN: 4px 0px 0px 15px;
    WIDTH: 732px;
    DISPLAY: inline
}

.index_solution UL {
    MARGIN-TOP: 13px;
    WIDTH: 737px
}

.index_nr1_li {
    WIDTH: 238px;
    BACKGROUND: url(images/index_62.jpg) no-repeat;
    HEIGHT: 84px
}

.index_nr1_li P {
    LINE-HEIGHT: 18px;
    MARGIN: 16px 0px 0px 12px;
    WIDTH: 142px
}

.index_nr1_li1 {
    WIDTH: 238px;
    DISPLAY: inline;
    BACKGROUND: url(images/index_64.jpg) no-repeat;
    HEIGHT: 84px;
    MARGIN-LEFT: 12px
}

.index_nr1_li1 P {
    LINE-HEIGHT: 18px;
    MARGIN: 16px 0px 0px 12px;
    WIDTH: 142px
}

.index_nr1_li2 {
    WIDTH: 238px;
    BACKGROUND: url(images/index_66.jpg) no-repeat;
    HEIGHT: 84px
}

.index_nr1_li2 P {
    LINE-HEIGHT: 18px;
    MARGIN: 16px 0px 0px 12px;
    WIDTH: 142px
}

.about_container2 {
    MARGIN: 19px auto 56px;
    WIDTH: 700px
}

.about {
    MARGIN-TOP: 24px;
    WIDTH: 700px;
    HEIGHT: auto
}

.about_left {
    LINE-HEIGHT: 21px;
    WIDTH: 519px
}

.about_right {
    WIDTH: 157px
}

.about_heught {
    MARGIN-TOP: 10px
}

.about_heught1 {
    MARGIN-TOP: 5px
}

.HR_container2 {
    MARGIN: 19px auto 26px;
    WIDTH: 700px
}

.HR {
    MARGIN-TOP: 24px;
    WIDTH: 700px;
    HEIGHT: auto
}

.HR_line {
    BORDER-BOTTOM: #d9d9d9 1px solid;
    MARGIN-TOP: 20px;
    WIDTH: 700px;
    MARGIN-BOTTOM: 25px;
    FONT-SIZE: 0px
}

* HTML .HR_line {
    BORDER-BOTTOM: #d9d9d9 1px solid;
    MARGIN-TOP: -20px;
    WIDTH: 700px;
    MARGIN-BOTTOM: 20px;
    FONT-SIZE: 0px
}

* + HTML .HR_line {
    BORDER-BOTTOM: #d9d9d9 1px solid;
    MARGIN-TOP: -20px;
    WIDTH: 700px;
    MARGIN-BOTTOM: 20px;
    FONT-SIZE: 0px
}

.HR_content {
    WIDTH: 532px
}

.font_14 {
    FONT-SIZE: 14px
}

.pages {
    LINE-HEIGHT: 19px;
    MARGIN-TOP: 19px;
    WIDTH: 200px;
    HEIGHT: 19px
}

.pages IMG {
    MARGIN-TOP: 3px
}

.pages A {
    MARGIN: 0px 5px;
    FLOAT: left
}

.pages SPAN A {
    COLOR: #898989;
    FONT-WEIGHT: bold
}

.pages SPAN A:hover {
    COLOR: #003795;
    FONT-WEIGHT: bold
}

.pages1 {
    LINE-HEIGHT: 19px;
    MARGIN-TOP: 0px;
    WIDTH: 178px;
    HEIGHT: 19px
}

.pages1 IMG {
    MARGIN-TOP: 3px
}

.pages1 A {
    MARGIN: 0px 5px;
    FLOAT: left
}

.pages1 SPAN A {
    COLOR: #898989;
    FONT-WEIGHT: bold
}

.pages1 SPAN A:hover {
    COLOR: #003795;
    FONT-WEIGHT: bold
}

.news {
    WIDTH: 517px;
    FONT-FAMILY: "????";
    FONT-SIZE: 12px
}

.news UL LI {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    LINE-HEIGHT: 36px;
    WIDTH: 517px;
    BACKGROUND: url(images/dian2.gif) no-repeat 0px 15px;
    HEIGHT: 36px
}

.news UL LI SPAN {
    MARGIN-LEFT: 10px
}

.right_tit {
    BORDER-BOTTOM: #e6e6e6 1px solid;
    WIDTH: 696px;
    FONT-FAMILY: "????";
    HEIGHT: 21px;
    COLOR: #495875;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.right_nr {
    LINE-HEIGHT: 21px;
    MARGIN-TOP: 10px;
    WIDTH: 696px
}

.right_nr1 {
    MARGIN-TOP: 27px;
    WIDTH: 696px;
    HEIGHT: auto
}

.right_nr1_1 {
    WIDTH: 272px;
    MARGIN-BOTTOM: 34px;
    HEIGHT: auto
}

.right_nr1_1 DD {
    LINE-HEIGHT: 21px;
    WIDTH: 205px
}

.news_tit {
    BORDER-BOTTOM: #b8b8b8 1px solid;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 36px;
    MARGIN-TOP: 21px;
    WIDTH: 696px
}

.font_24 {
    FONT-FAMILY: "????";
    COLOR: #003795;
    FONT-SIZE: 24px
}

.news_detail {
    LINE-HEIGHT: 25px;
    MARGIN-TOP: 18px;
    WIDTH: 696px;
    MARGIN-BOTTOM: 50px;
    HEIGHT: auto;
    COLOR: #222;
    FONT-SIZE: 14px
}

.news_detail P {
    TEXT-INDENT: 2em
}

.back {
    MARGIN: 30px auto;
    WIDTH: 62px
}

.news_videoTitle {
    BORDER-BOTTOM: #e7e7e7 1px solid;
    BORDER-LEFT: #e7e7e7 1px solid;
    WIDTH: 530px;
    BACKGROUND: url(images/viedo_03.jpg) repeat-x;
    HEIGHT: 29px;
    BORDER-TOP: #e7e7e7 1px solid;
    BORDER-RIGHT: #e7e7e7 1px solid
}

.news_videoTit {
    WIDTH: 480px;
    MARGIN-LEFT: 10px
}

.news_videoTit UL LI {
    FLOAT: left
}

.news_videoTit UL LI A {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 29px;
    WIDTH: 118px;
    FLOAT: left;
    HEIGHT: 29px;
    COLOR: #888888;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.news_videoTit UL LI A:hover {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 29px;
    WIDTH: 118px;
    BACKGROUND: url(images/viedo_05.jpg) no-repeat;
    FLOAT: left;
    HEIGHT: 29px;
    COLOR: #1f4fa2;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.viedoPic {
    MARGIN-TOP: 18px;
    WIDTH: 339px
}

.viedoRight {
    MARGIN-TOP: 18px;
    WIDTH: 178px;
    DISPLAY: inline;
    MARGIN-LEFT: 10px
}

.viedoRight DL {
    MARGIN-TOP: 5px;
    WIDTH: 178px;
    MARGIN-BOTTOM: 5px
}

.viedoRight DL DD {
    LINE-HEIGHT: 21px;
    WIDTH: 72px
}

.viedo_width {
    DISPLAY: inline;
    MARGIN-LEFT: 60px
}

.viedo_content {
    MARGIN-TOP: 28px;
    WIDTH: 532px
}

.viedo_content DL {
    MARGIN-TOP: 15px;
    WIDTH: 151px;
    DISPLAY: block;
    FLOAT: left;
    HEIGHT: auto;
    MARGIN-RIGHT: 36px
}

.viedo_content DL DT IMG {
    BORDER-BOTTOM: #ededed 3px solid;
    BORDER-LEFT: #ededed 3px solid;
    BORDER-TOP: #ededed 3px solid;
    BORDER-RIGHT: #ededed 3px solid
}

.viedo_content DL DT {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-SIZE: 0px;
    PADDING-TOP: 0px
}

.viedo_content DL DD {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 52px;
    MARGIN-TOP: -10px;
    PADDING-LEFT: 0px;
    WIDTH: 151px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(images/viedo_31.jpg) no-repeat;
    HEIGHT: 52px;
    PADDING-TOP: 0px
}

* HTML .viedo_content DL DD {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 52px;
    MARGIN-TOP: 1px;
    PADDING-LEFT: 0px;
    WIDTH: 151px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(images/viedo_31.jpg) no-repeat;
    HEIGHT: 52px;
    PADDING-TOP: 0px
}

* + HTML .viedo_content DL DD {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 52px;
    MARGIN-TOP: 1px;
    PADDING-LEFT: 0px;
    WIDTH: 151px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(images/viedo_31.jpg) no-repeat;
    HEIGHT: 52px;
    PADDING-TOP: 0px
}

.viedo_content DL.clearMargin {
    CLEAR: right;
    MARGIN-RIGHT: 0px
}

.service {
    WIDTH: 517px;
    FONT-FAMILY: "????";
    FONT-SIZE: 12px
}

.Customer {
    MARGIN-TOP: 24px;
    WIDTH: 532px
}

.Customer_line {
    BORDER-BOTTOM: #e9e9e9 1px dashed;
    MARGIN-TOP: 15px;
    WIDTH: 532px;
    MARGIN-BOTTOM: 0px
}

* HTML .Customer_line {
    BORDER-BOTTOM: #e9e9e9 1px dashed;
    MARGIN-TOP: -5px;
    WIDTH: 532px;
    MARGIN-BOTTOM: 0px
}

* + HTML .Customer_line {
    BORDER-BOTTOM: #e9e9e9 1px dashed;
    MARGIN-TOP: -5px;
    WIDTH: 532px;
    MARGIN-BOTTOM: 0px
}

.CustomerTable {
    MARGIN: 14px 0px 0px 7px;
    WIDTH: 525px;
    DISPLAY: inline
}

.CustomerTable UL LI {
    MARGIN-TOP: 10px
}

.CustomerWords {
    TEXT-ALIGN: right;
    WIDTH: 90px
}

.CustomerWords2 {
    TEXT-ALIGN: right;
    WIDTH: 90px
}

* HTML .CustomerWords2 {
    TEXT-ALIGN: right;
    WIDTH: 88px
}

* + HTML .CustomerWords2 {
    TEXT-ALIGN: right;
    WIDTH: 89px
}

.CustomerInput {
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    LINE-HEIGHT: 17px;
    WIDTH: 421px;
    HEIGHT: 17px;
    COLOR: #666666;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid
}

.CustomerInput2 {
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    LINE-HEIGHT: 17px;
    WIDTH: 162px;
    HEIGHT: 17px;
    COLOR: #666666;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid
}

.CustomerInput3 {
    BORDER-BOTTOM: #d7d7d7 1px solid;
    BORDER-LEFT: #d7d7d7 1px solid;
    LINE-HEIGHT: 17px;
    WIDTH: 421px;
    HEIGHT: 173px;
    COLOR: #666666;
    BORDER-TOP: #d7d7d7 1px solid;
    BORDER-RIGHT: #d7d7d7 1px solid
}

.CustomerBottom {
    MARGIN: 0px 0px 0px 90px;
    WIDTH: 169px;
    DISPLAY: inline
}

.products_detail {
    LINE-HEIGHT: 21px;
    MARGIN-TOP: 18px;
    WIDTH: 696px;
    MARGIN-BOTTOM: 24px;
    HEIGHT: auto
}

.products_container2 {
    MARGIN: 19px auto 0px;
    WIDTH: 696px
}

.sitemap {
    WIDTH: 162px;
    MARGIN-BOTTOM: 30px;
    HEIGHT: auto;
    MARGIN-RIGHT: 13px
}

.sitemapT {
    WIDTH: 162px;
    BACKGROUND: url(images/sitemap_18.jpg) no-repeat;
    HEIGHT: 20px;
    FONT-SIZE: 0px
}

.sitemapC {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 30px;
    WIDTH: 102px;
    PADDING-RIGHT: 30px;
    BACKGROUND: url(images/sitemap_21.jpg) repeat-y;
    HEIGHT: 226px;
    PADDING-TOP: 0px
}

.sitemapC UL LI {
    BORDER-BOTTOM: #888888 1px dashed;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 24px;
    WIDTH: 102px
}

.sitemapB {
    WIDTH: 162px;
    BACKGROUND: url(images/sitemap_23.jpg) no-repeat;
    HEIGHT: 14px;
    FONT-SIZE: 0px
}

.clearMargin.sitemap {
    CLEAR: right;
    MARGIN-RIGHT: 0px
}

.LegalTit {
    BORDER-BOTTOM: #b8b8b8 1px dashed;
    WIDTH: 700px;
    HEIGHT: 21px;
    FONT-WEIGHT: bold
}

.LegalTit SPAN {
    MARGIN-LEFT: 15px
}

.LegalTitSearch {
    BORDER-BOTTOM: #b8b8b8 1px dashed;
    WIDTH: 532px;
    HEIGHT: 21px;
    FONT-WEIGHT: bold
}

.redColor {
    COLOR: #fb0000
}

.Search {
    WIDTH: 532px;
    FONT-FAMILY: "????";
    FONT-SIZE: 12px
}

.Search UL LI {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    LINE-HEIGHT: 36px;
    WIDTH: 532px;
    BACKGROUND: url(images/dian2.gif) no-repeat 0px 15px;
    HEIGHT: 36px
}

.Search_span {
    MARGIN-LEFT: 10px
}

.login {
    MARGIN: 0px auto;
    WIDTH: 1003px;
    BACKGROUND: url(images/loginBj.jpg) no-repeat;
    HEIGHT: 640px
}

.login_logo {
    MARGIN: 104px 0px 0px 381px;
    WIDTH: 201px;
    DISPLAY: inline;
    BACKGROUND: url(images/login1_03.jpg) no-repeat;
    HEIGHT: 61px
}

.login_logo A {
    TEXT-INDENT: -5000px;
    WIDTH: 201px;
    DISPLAY: block;
    FLOAT: left;
    HEIGHT: 61px
}

.login_logo A:hover {
    WIDTH: 201px;
    DISPLAY: block;
    FLOAT: left;
    HEIGHT: 61px
}

.login_bj {
    MARGIN: 5px auto 0px;
    WIDTH: 545px;
    BACKGROUND: url(images/login1_07.gif) no-repeat;
    HEIGHT: 338px
}

.logoTit {
    MARGIN: 10px 0px 0px 140px;
    WIDTH: 286px;
    DISPLAY: inline;
    BACKGROUND: url(images/login2_03.jpg) no-repeat;
    HEIGHT: 31px
}

.login_content {
    MARGIN: 42px 0px 0px 252px;
    WIDTH: 211px;
    DISPLAY: inline;
    HEIGHT: auto;
    COLOR: #ffffff
}

.login_input {
    LINE-HEIGHT: 19px;
    BORDER-RIGHT-WIDTH: 0px;
    WIDTH: 140px;
    BACKGROUND: #ffffff;
    BORDER-TOP-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    HEIGHT: 19px;
    COLOR: #666666;
    BORDER-LEFT-WIDTH: 0px
}

.login_input1 {
    LINE-HEIGHT: 19px;
    BORDER-RIGHT-WIDTH: 0px;
    WIDTH: 64px;
    BACKGROUND: #ffffff;
    BORDER-TOP-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    HEIGHT: 19px;
    COLOR: #666666;
    BORDER-LEFT-WIDTH: 0px
}

.login_content UL LI {
    MARGIN-TOP: 10px
}

.login_Heigth {
    MARGIN-TOP: 1px;
    MARGIN-LEFT: 5px
}

.errow_bj {
    MARGIN: 0px auto;
    WIDTH: 1003px;
    BACKGROUND: #f7f7f7;
    HEIGHT: auto
}

.errow {
    MARGIN: 0px auto;
    WIDTH: 800px;
    BACKGROUND: #f7f7f7;
    HEIGHT: auto
}

.errow_pic {
    MARGIN: 125px 0px 0px 267px
}

.errow_words {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 21px;
    MARGIN: 20px auto;
    WIDTH: 500px;
    COLOR: #68626c
}

.font_30 {
    FONT-SIZE: 30px
}

.fh {
    MARGIN: 20px 0px 104px 367px;
    WIDTH: 56px;
    DISPLAY: inline
}

.index_products1 {
    WIDTH: 215px
}

.about_height2 {
    MARGIN-TOP: 9px
}

.about_news {
    WIDTH: 157px
}

.about_newsT {
    LINE-HEIGHT: 24px;
    WIDTH: 155px;
    BACKGROUND: url(images/about2_03.jpg) no-repeat;
    HEIGHT: 24px;
    OVERFLOW: hidden
}

.about_newsT STRONG {
    MARGIN-TOP: 2px;
    MARGIN-LEFT: 25px
}

.about_newsT SPAN {
    MARGIN-TOP: 2px
}

.about_newsC {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    WIDTH: 153px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(images/about2_06.jpg) repeat-y;
    HEIGHT: auto;
    PADDING-TOP: 5px
}

.about_newsC UL LI {
    BORDER-BOTTOM: #d1d1d1 1px dashed;
    LINE-HEIGHT: 22px;
    WIDTH: 150px;
    BACKGROUND: url(images/about2_09.jpg) no-repeat 8px 8px;
    HEIGHT: auto
}

.about_newsC UL LI SPAN {
    WIDTH: 121px;
    FLOAT: left;
    MARGIN-LEFT: 22px
}

.about_newsB {
    WIDTH: 155px;
    BACKGROUND: url(images/about2_12.jpg) no-repeat;
    HEIGHT: 4px;
    FONT-SIZE: 0px
}

.about_newsLine {
    BORDER-BOTTOM: #b8b8b8 1px dashed;
    WIDTH: 700px;
    HEIGHT: 17px;
    FONT-SIZE: 0px
}

.blue3 {
    COLOR: #003795
}

.blueClor4 {
    COLOR: #495875
}

.products_list {
    WIDTH: 517px
}

.products_list1 {
    MARGIN-TOP: 9px;
    WIDTH: 517px
}

.products_list1 DL DD {
    LINE-HEIGHT: 20px;
    WIDTH: 372px
}

.products_listLine {
    BORDER-BOTTOM: #ededed 1px solid;
    MARGIN: 10px 0px;
    WIDTH: 517px
}

* HTML .products_listLine {
    BORDER-BOTTOM: #ededed 1px solid;
    MARGIN: -10px 0px 10px;
    WIDTH: 517px
}

* + HTML .products_listLine {
    BORDER-BOTTOM: #ededed 1px solid;
    MARGIN: -10px 0px 10px;
    WIDTH: 517px
}

.service_top {
    MARGIN-TOP: 7px;
    WIDTH: 700px;
    HEIGHT: auto
}

.service DL DD {
    LINE-HEIGHT: 20px;
    WIDTH: 372px
}

.service11 {
    WIDTH: 517px
}

.service11Width1 {
    WIDTH: 39px
}

.service11Width2 {
    LINE-HEIGHT: 21px;
    WIDTH: 471px
}

.serviceLine {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN: 5px 0px;
    WIDTH: 517px
}

* HTML .serviceLine {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN: -13px 0px 5px;
    WIDTH: 517px
}

* + HTML .serviceLine {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN: -13px 0px 5px;
    WIDTH: 517px
}

.qynkLine {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN: 10px 0px;
    WIDTH: 532px
}

* HTML .qynkLine {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN: -5px 0px 20px;
    WIDTH: 532px
}

* + HTML .qynkLine {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN: -5px 0px 20px;
    WIDTH: 532px
}

.news2 {
    WIDTH: 532px;
    FONT-FAMILY: "????";
    FONT-SIZE: 12px
}

.qynk_right {
    BORDER-BOTTOM: #bed0db 1px solid;
    BORDER-LEFT: #bed0db 1px solid;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    WIDTH: 148px;
    PADDING-RIGHT: 2px;
    FONT-SIZE: 0px;
    BORDER-TOP: #bed0db 1px solid;
    BORDER-RIGHT: #bed0db 1px solid;
    PADDING-TOP: 2px
}

.qynk {
    WIDTH: 532px
}

.qynk DL DT {
    BORDER-BOTTOM: #bed0d0 1px solid;
    BORDER-LEFT: #bed0d0 1px solid;
    WIDTH: 123px;
    HEIGHT: 154px;
    FONT-SIZE: 0px;
    BORDER-TOP: #bed0d0 1px solid;
    BORDER-RIGHT: #bed0d0 1px solid
}

.qynk DL DT IMG {
    MARGIN: 2px
}

.qynk DL DD {
    WIDTH: 382px
}

.qynk DL DD P {
    MARGIN: 5px 0px
}

.HR_line11 {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN-TOP: 20px;
    WIDTH: 532px;
    MARGIN-BOTTOM: 25px;
    FONT-SIZE: 0px
}

* HTML .HR_line11 {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN-TOP: -20px;
    WIDTH: 532px;
    MARGIN-BOTTOM: 20px;
    FONT-SIZE: 0px
}

* + HTML .HR_line11 {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    MARGIN-TOP: -20px;
    WIDTH: 532px;
    MARGIN-BOTTOM: 20px;
    FONT-SIZE: 0px
}

.serch_kuang11 {
    WIDTH: 532px;
    MARGIN-BOTTOM: 5px
}

.serch_kuang11L {
    WIDTH: 7px;
    BACKGROUND: url(images/search1_03.jpg) no-repeat;
    HEIGHT: 51px
}

.serch_kuang11C {
    PADDING-BOTTOM: 15px;
    PADDING-LEFT: 15px;
    WIDTH: 498px;
    PADDING-RIGHT: 3px;
    BACKGROUND: url(images/search1_05.jpg) repeat-x;
    HEIGHT: 20px;
    PADDING-TOP: 16px
}

.serch_kuang11C UL LI {
    FLOAT: left
}

.serch_kuang11CWidth1 {
    WIDTH: 151px;
    MARGIN-RIGHT: 8px
}

.serch_kuang11Input {
    BORDER-BOTTOM: #bfbfbf 1px solid;
    BORDER-LEFT: #bfbfbf 1px solid;
    WIDTH: 69px;
    BACKGROUND: #ffffff;
    HEIGHT: 25px;
    BORDER-TOP: #bfbfbf 1px solid;
    BORDER-RIGHT: #bfbfbf 1px solid
}

.serch_kuang11Input1 {
    BORDER-BOTTOM: #bfbfbf 1px solid;
    BORDER-LEFT: #bfbfbf 1px solid;
    WIDTH: 218px;
    BACKGROUND: #ffffff;
    HEIGHT: 19px;
    BORDER-TOP: #bfbfbf 1px solid;
    BORDER-RIGHT: #bfbfbf 1px solid
}

.serch_kuang11CWidth2 {
    WIDTH: 271px;
    MARGIN-RIGHT: 5px
}

.serch_kuang11R {
    WIDTH: 9px;
    BACKGROUND: url(images/search1_07.jpg) no-repeat;
    HEIGHT: 51px
}

.download22 {
    WIDTH: 532px
}

.download22L {
    WIDTH: 40px;
    BACKGROUND: url(images/download2_03.jpg) no-repeat;
    HEIGHT: 32px
}

.download22C {
    LINE-HEIGHT: 32px;
    WIDTH: 477px;
    BACKGROUND: url(images/download2_05.jpg) repeat-x;
    HEIGHT: 32px
}

.download22R {
    WIDTH: 15px;
    BACKGROUND: url(images/download2_07.jpg) no-repeat;
    HEIGHT: 32px
}

.download {
    WIDTH: 532px;
    FONT-FAMILY: "????";
    FONT-SIZE: 12px
}

.download UL LI {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    LINE-HEIGHT: 36px;
    WIDTH: 532px;
    BACKGROUND: url(images/dian2.gif) no-repeat 0px 15px;
    HEIGHT: 36px
}

.download UL LI SPAN {
    MARGIN-LEFT: 10px
}

.downloadHeight {
    MARGIN-TOP: 17px
}

.links {
    WIDTH: 700px;
    FONT-FAMILY: "????";
    FONT-SIZE: 12px
}

.links UL LI {
    BORDER-BOTTOM: #d9d9d9 1px dashed;
    LINE-HEIGHT: 36px;
    WIDTH: 700px;
    BACKGROUND: url(images/dian2.gif) no-repeat 0px 15px;
    HEIGHT: 36px
}

.links UL LI SPAN {
    MARGIN-LEFT: 10px
}

.links P {
    MARGIN-TOP: 20px
}

.happy_service {
    WIDTH: 525px
}

.happy_serviceWords {
    WIDTH: 525px
}

.happy_serviceWords DL DT {
    BORDER-BOTTOM: #eaeaea 1px solid;
    BORDER-LEFT: #eaeaea 1px solid;
    WIDTH: 176px;
    HEIGHT: 112px;
    FONT-SIZE: 0px;
    BORDER-TOP: #eaeaea 1px solid;
    BORDER-RIGHT: #eaeaea 1px solid
}

.happy_serviceWords DL DT IMG {
    MARGIN: 3px
}

.happy_serviceWords DL DD {
    LINE-HEIGHT: 21px;
    MARGIN-TOP: 10px;
    WIDTH: 331px
}

.happy_serviceWords P {
    MARGIN-TOP: 10px;
    WIDTH: 525px;
    FLOAT: left
}

.happy_serviceWords1 {
    WIDTH: 525px
}

.happy_serviceWords1 DL {
    WIDTH: 156px;
    DISPLAY: block;
    FLOAT: left;
    MARGIN-RIGHT: 27px
}

.happy_serviceWords1 DL DT {
    BORDER-BOTTOM: #eaeaea 1px solid;
    BORDER-LEFT: #eaeaea 1px solid;
    WIDTH: 154px;
    HEIGHT: 100px;
    FONT-SIZE: 0px;
    BORDER-TOP: #eaeaea 1px solid;
    BORDER-RIGHT: #eaeaea 1px solid
}

.happy_serviceWords1 DL DT IMG {
    MARGIN: 1px
}

.happy_serviceWords1 DL DD {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 24px;
    WIDTH: 156px
}

.happy_serviceWords1 DL.clearMargin {
    CLEAR: right;
    MARGIN-RIGHT: 0px
}

.happy_service_listLine {
    BORDER-BOTTOM: #ededed 1px solid;
    MARGIN: 20px 0px;
    WIDTH: 517px
}

* HTML .happy_service_listLine {
    BORDER-BOTTOM: #ededed 1px solid;
    MARGIN: -5px 0px 20px;
    WIDTH: 517px
}

* + HTML .happy_service_listLine {
    BORDER-BOTTOM: #ededed 1px solid;
    MARGIN: -5px 0px 20px;
    WIDTH: 517px
}

.HrSearch {
    MARGIN-TOP: 18px;
    WIDTH: 166px
}

.HrSearchT {
    WIDTH: 166px;
    BACKGROUND: url(images/hrdl_07.gif) no-repeat;
    HEIGHT: 7px;
    FONT-SIZE: 0px
}

.HrSearchC {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 17px;
    WIDTH: 132px;
    PADDING-RIGHT: 17px;
    BACKGROUND: url(images/hrdl_14.gif) repeat-y;
    HEIGHT: auto;
    PADDING-TOP: 0px
}

* HTML .HrSearchC {
    PADDING-BOTTOM: 12px;
    PADDING-LEFT: 17px;
    WIDTH: 132px;
    PADDING-RIGHT: 17px;
    BACKGROUND: url(images/hrdl_14.gif) repeat-y;
    HEIGHT: auto;
    PADDING-TOP: 12px
}

* + HTML .HrSearchC {
    PADDING-BOTTOM: 12px;
    PADDING-LEFT: 17px;
    WIDTH: 132px;
    PADDING-RIGHT: 17px;
    BACKGROUND: url(images/hrdl_14.gif) repeat-y;
    HEIGHT: auto;
    PADDING-TOP: 12px
}

.HrSearchB {
    WIDTH: 166px;
    BACKGROUND: url(images/hrdl_20.gif) no-repeat;
    HEIGHT: 4px;
    FONT-SIZE: 0px
}

.HrInput {
    BORDER-BOTTOM: #bababa 1px solid;
    BORDER-LEFT: #bababa 1px solid;
    LINE-HEIGHT: 18px;
    PADDING-LEFT: 5px;
    WIDTH: 123px;
    HEIGHT: 18px;
    BORDER-TOP: #bababa 1px solid;
    BORDER-RIGHT: #bababa 1px solid
}

.HrSearchC UL LI {
    MARGIN-TOP: 10px
}

* HTML .HrSearchC UL LI {
    MARGIN-TOP: -5px
}

* + HTML .HrSearchC UL LI {
    MARGIN-TOP: -5px
}

SELECT {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.selectBoxWarp {
    BORDER-BOTTOM: #bababa 1px solid;
    BORDER-LEFT: #bababa 1px solid;
    MARGIN-TOP: 3px;
    WIDTH: 135px;
    HEIGHT: 18px;
    BORDER-TOP: #bababa 1px solid;
    BORDER-RIGHT: #bababa 1px solid
}

.selectBoxContent {

}

.selectBoxSelectedArea {
    LINE-HEIGHT: 18px;
    TEXT-INDENT: 5px;
    WIDTH: 118px;
    HEIGHT: 18px
}

.selectBoxSelectedAreaFocus {
    LINE-HEIGHT: 18px;
    TEXT-INDENT: 5px;
    BACKGROUND: #fff;
    COLOR: #666
}

.selectBoxOption {
    LINE-HEIGHT: 20px;
    TEXT-INDENT: 5px;
    HEIGHT: 20px
}

.selectBoxOptionOver {
    LINE-HEIGHT: 20px;
    TEXT-INDENT: 5px;
    BACKGROUND: #ddd;
    HEIGHT: 20px
}

.selectBoxOptionInnerLayer {
    BORDER-BOTTOM: #bababa 1px solid;
    BORDER-LEFT: #bababa 1px solid;
    WIDTH: 135px;
    BACKGROUND: #fff;
    BORDER-TOP: #bababa 1px solid;
    BORDER-RIGHT: #bababa 1px solid
}

.InvestList {
    MARGIN-TOP: 15px;
    WIDTH: 520px
}

.InvestList UL LI {
    BORDER-BOTTOM: #cccaca 1px dashed;
    WIDTH: 520px;
    HEIGHT: 32px
}

.InvestListTit {
    WIDTH: 520px
}

.InvestListTitWidth1 {
    LINE-HEIGHT: 28px;
    PADDING-LEFT: 15px;
    WIDTH: 250px;
    DISPLAY: inline;
    BACKGROUND: #e9e9e9;
    HEIGHT: 28px;
    MARGIN-RIGHT: 1px
}

.InvestListTitWidth2 {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 28px;
    WIDTH: 126px;
    BACKGROUND: #e9e9e9;
    HEIGHT: 28px;
    MARGIN-RIGHT: 1px
}

.InvestListTitWidth4 {
    LINE-HEIGHT: 32px;
    PADDING-LEFT: 15px;
    WIDTH: 250px;
    DISPLAY: inline;
    HEIGHT: 32px
}

.InvestListTitWidth5 {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 32px;
    WIDTH: 126px;
    HEIGHT: 32px
}

.textLine {
    TEXT-DECORATION: underline
}

.textLine A {
    TEXT-DECORATION: underline
}

.textLine A:hover {
    TEXT-DECORATION: underline
}

.HrList {
    MARGIN-TOP: 15px;
    WIDTH: 700px
}

.HrList UL LI {
    BORDER-BOTTOM: #cccaca 1px dashed;
    WIDTH: 700px;
    HEIGHT: 32px
}

.HrListTit {
    WIDTH: 700px
}

.HrListTitWidth1 {
    LINE-HEIGHT: 28px;
    PADDING-LEFT: 15px;
    WIDTH: 190px;
    DISPLAY: inline;
    BACKGROUND: #e9e9e9;
    HEIGHT: 28px;
    MARGIN-RIGHT: 1px
}

.HrListTitWidth2 {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 28px;
    WIDTH: 119px;
    BACKGROUND: #e9e9e9;
    HEIGHT: 28px;
    MARGIN-RIGHT: 1px
}

.HrListTitWidth3 {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 28px;
    WIDTH: 133px;
    BACKGROUND: #e9e9e9;
    HEIGHT: 28px;
    MARGIN-RIGHT: 1px
}

.HrListTitWidth4 {
    LINE-HEIGHT: 32px;
    PADDING-LEFT: 15px;
    WIDTH: 190px;
    DISPLAY: inline;
    HEIGHT: 32px
}

.HrListTitWidth5 {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 32px;
    WIDTH: 119px;
    HEIGHT: 32px
}

.HrListTitWidth6 {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 32px;
    WIDTH: 133px;
    HEIGHT: 32px
}

.textLine {
    TEXT-DECORATION: underline
}

.textLine A {
    TEXT-DECORATION: underline
}

.textLine A:hover {
    TEXT-DECORATION: underline
}

.grgj {
    BORDER-BOTTOM: #e9e9e9 1px solid;
    BORDER-LEFT: #e9e9e9 1px solid;
    MARGIN-TOP: 10px;
    WIDTH: 698px;
    HEIGHT: auto;
    BORDER-TOP: #e9e9e9 1px solid;
    BORDER-RIGHT: #e9e9e9 1px solid
}

.grgjTit {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 28px;
    MARGIN-TOP: 1px;
    PADDING-LEFT: 15px;
    WIDTH: 668px;
    PADDING-RIGHT: 15px;
    BACKGROUND: #f2f2f2;
    HEIGHT: 28px;
    PADDING-TOP: 0px
}

.grgjWords {
    WIDTH: 83px;
    BACKGROUND: url(images/grgj_07.gif) no-repeat right 5px
}

.grgjContent {
    MARGIN: 15px 19px;
    WIDTH: 660px;
    DISPLAY: inline
}

.grgjContent UL {
    MARGIN-TOP: 12px;
    WIDTH: 660px
}

.grgjContent UL LI {
    FLOAT: left;
    MARGIN-RIGHT: 15px
}

.ckjl {
    BORDER-BOTTOM: #d7d7d7 1px solid;
    LINE-HEIGHT: 28px;
    MARGIN-TOP: 10px;
    WIDTH: 700px;
    HEIGHT: 28px
}

.Hrlogin {
    MARGIN: 20px auto;
    WIDTH: 289px
}

.HrloginInput {
    BORDER-BOTTOM: #565656 1px solid;
    BORDER-LEFT: #565656 1px solid;
    LINE-HEIGHT: 17px;
    PADDING-LEFT: 5px;
    WIDTH: 150px;
    BACKGROUND: url(images/HRdl_11.jpg) repeat-x;
    HEIGHT: 17px;
    BORDER-TOP: #565656 1px solid;
    BORDER-RIGHT: #565656 1px solid
}

.HrloginInput1 {
    BORDER-BOTTOM: #565656 1px solid;
    BORDER-LEFT: #565656 1px solid;
    LINE-HEIGHT: 17px;
    PADDING-LEFT: 5px;
    WIDTH: 230px;
    BACKGROUND: url(images/HRdl_11.jpg) repeat-x;
    HEIGHT: 17px;
    BORDER-TOP: #565656 1px solid;
    BORDER-RIGHT: #565656 1px solid
}

.HrloginInput2 {
    BORDER-BOTTOM: #565656 1px solid;
    BORDER-LEFT: #565656 1px solid;
    LINE-HEIGHT: 17px;
    PADDING-LEFT: 5px;
    WIDTH: 85px;
    BACKGROUND: url(images/HRdl_11.jpg) repeat-x;
    HEIGHT: 17px;
    BORDER-TOP: #565656 1px solid;
    BORDER-RIGHT: #565656 1px solid
}

.HrloginInput3 {
    BORDER-BOTTOM: #565656 1px solid;
    BORDER-LEFT: #565656 1px solid;
    LINE-HEIGHT: 17px;
    PADDING-LEFT: 5px;
    WIDTH: 360px;
    BACKGROUND: url(images/HRdl_11.jpg) repeat-x;
    HEIGHT: 17px;
    BORDER-TOP: #565656 1px solid;
    BORDER-RIGHT: #565656 1px solid
}

.HrloginInput4 {
    BORDER-BOTTOM: #565656 1px solid;
    BORDER-LEFT: #565656 1px solid;
    LINE-HEIGHT: 17px;
    PADDING-LEFT: 5px;
    WIDTH: 514px;
    BACKGROUND: url(images/HRdl_11.jpg) #ffffff repeat-x;
    HEIGHT: 200px;
    BORDER-TOP: #565656 1px solid;
    BORDER-RIGHT: #565656 1px solid
}

.HrloginLine {
    PADDING-BOTTOM: 10px;
    MARGIN: 0px auto 255px;
    PADDING-LEFT: 100px;
    WIDTH: 520px;
    PADDING-RIGHT: 100px;
    HEIGHT: 39px;
    BORDER-TOP: #e2e2e2 1px solid;
    PADDING-TOP: 10px
}

.xgmm {
    MARGIN: 24px 0px 280px;
    WIDTH: 700px
}

.xgmmT {
    LINE-HEIGHT: 36px;
    PADDING-LEFT: 17px;
    WIDTH: 683px;
    DISPLAY: inline;
    BACKGROUND: url(images/xgmm_06.jpg) no-repeat;
    HEIGHT: 36px
}

.xgmmC {
    PADDING-BOTTOM: 48px;
    PADDING-LEFT: 43px;
    WIDTH: 614px;
    PADDING-RIGHT: 43px;
    DISPLAY: inline;
    BACKGROUND: url(images/xgmm_08.jpg) repeat-y;
    HEIGHT: auto;
    PADDING-TOP: 48px
}

.xgmmB {
    WIDTH: 700px;
    BACKGROUND: url(images/xgmm_14.jpg) no-repeat;
    HEIGHT: 8px;
    FONT-SIZE: 0px
}

.xgmm_grey {
    WIDTH: 614px;
    BACKGROUND: #f4f4f4;
    HEIGHT: auto
}

.xgmm_grey1 {
    MARGIN: 0px auto 30px;
    WIDTH: 700px;
    BACKGROUND: #f4f4f4;
    HEIGHT: auto
}

.xgmm_greyKuang {
    MARGIN: 44px 0px 44px 120px;
    WIDTH: 325px;
    DISPLAY: inline
}

.xgmm_greyKuang1 {
    MARGIN: 44px 0px 44px 100px;
    WIDTH: 353px;
    DISPLAY: inline
}

.grjl {
    MARGIN-TOP: 10px;
    WIDTH: 700px;
    HEIGHT: auto
}

.grjlTit {
    LINE-HEIGHT: 28px;
    PADDING-LEFT: 15px;
    WIDTH: 685px;
    BACKGROUND: #e6e6e7;
    HEIGHT: 28px
}

.bc {
    WIDTH: 66px;
    DISPLAY: inline;
    MARGIN-LEFT: 58px
}

.xgmmC1 {
    PADDING-BOTTOM: 17px;
    LINE-HEIGHT: 21px;
    PADDING-LEFT: 17px;
    WIDTH: 666px;
    PADDING-RIGHT: 17px;
    DISPLAY: inline;
    BACKGROUND: url(images/xgmm_08.jpg) repeat-y;
    HEIGHT: auto;
    PADDING-TOP: 17px
}

.xgmm1 {
    MARGIN: 24px 0px 10px;
    WIDTH: 700px
}
.indexCases {
    WIDTH: 308px
}

.indexNews {
    MARGIN: 0px 0px 0px 10px;
    WIDTH: 414px;
    DISPLAY: inline
}

.indexVideo {
    WIDTH: 217px
}

.indexCasesL {
    WIDTH: 9px;
    BACKGROUND: url(images/index_41.gif) no-repeat;
    HEIGHT: 154px
}

.indexCasesC {
    WIDTH: 293px;
    BACKGROUND: url(images/index_43.gif) repeat-x;
    HEIGHT: 154px
}

.indexCasesR {
    WIDTH: 6px;
    BACKGROUND: url(images/index_44.gif) no-repeat;
    HEIGHT: 154px
}

.indexCasesTit {
    WIDTH: auto;
    HEIGHT: 20px;
    COLOR: #70b4f2;
    MARGIN-LEFT: 4px;
    PADDING-TOP: 7px
}

.indexCasesTit H3 {
    LINE-HEIGHT: 20px;
    FONT-STYLE: normal;
    HEIGHT: 20px;
    FONT-SIZE: 12px
}

.indexCasesCon {
    MARGIN-TOP: 8px;
    WIDTH: 293px
}

.indexCasesCon UL LI {
    CLEAR: both
}

.indexCasesCon UL LI A {
    BORDER-BOTTOM: #70b4f2 1px dashed;
    LINE-HEIGHT: 26px;
    WIDTH: 283px;
    PADDING-RIGHT: 10px;
    BACKGROUND: url(images/index_82.gif) no-repeat right center;
    FLOAT: left;
    HEIGHT: 26px;
    CURSOR: pointer
}

.indexCasesCon UL LI A:hover {
    BORDER-BOTTOM: #70b4f2 1px dashed;
    LINE-HEIGHT: 26px;
    WIDTH: 283px;
    PADDING-RIGHT: 10px;
    BACKGROUND: url(images/index_74.gif) no-repeat right center;
    FLOAT: left;
    HEIGHT: 26px;
    CURSOR: pointer
}

.indexNewsC {
    WIDTH: 399px;
    BACKGROUND: url(images/index_43.gif) repeat-x;
    HEIGHT: 154px
}

.indexNewsTit {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 9px;
    PADDING-TOP: 3px
}

.indexNewsCon {
    MARGIN: 8px auto 0px;
    WIDTH: 386px
}

.indexNewsCon UL LI {
    CLEAR: both
}

.indexNewsCon UL LI A {
    LINE-HEIGHT: 23px;
    PADDING-LEFT: 10px;
    WIDTH: 376px;
    BACKGROUND: url(images/index_81.gif) no-repeat left center;
    FLOAT: left;
    HEIGHT: 23px;
    CURSOR: pointer
}

.indexNewsCon UL LI A:hover {
    LINE-HEIGHT: 23px;
    PADDING-LEFT: 10px;
    WIDTH: 376px;
    BACKGROUND: url(images/index_77.gif) no-repeat left center;
    FLOAT: left;
    HEIGHT: 23px;
    CURSOR: pointer
}

.indexVideoC {
    WIDTH: 205px;
    BACKGROUND: url(images/index_43.gif) repeat-x;
    HEIGHT: 154px
}

.indexVideoTit {
    WIDTH: 48px;
    DISPLAY: inline;
    FLOAT: right;
    HEIGHT: 14px;
    MARGIN-RIGHT: 11px
}

.indexVideoTit A {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 14px;
    WIDTH: 14px;
    DISPLAY: inline;
    BACKGROUND: url(images/index_58.gif) no-repeat;
    FLOAT: left;
    HEIGHT: 14px;
    COLOR: #003683;
    MARGIN-LEFT: 2px
}

.indexVideoTit A:hover {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 14px;
    WIDTH: 14px;
    BACKGROUND: url(images/index_56.gif) no-repeat;
    FLOAT: left;
    HEIGHT: 14px;
    COLOR: #ffffff
}

.indexVideoTit .i_cur {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 14px;
    WIDTH: 14px;
    BACKGROUND: url(images/index_56.gif) no-repeat;
    FLOAT: left;
    HEIGHT: 14px;
    COLOR: #ffffff
}

.indexVideoCon {
    MARGIN: 6px auto 0px;
    WIDTH: 205px
}

.indexVideoL {
    WIDTH: 6px;
    BACKGROUND: url(images/index_42.gif) no-repeat;
    HEIGHT: 154px
}

.indexSolution {
    WIDTH: 733px
}

.indexService {
    WIDTH: 217px;
    DISPLAY: inline;
    MARGIN-LEFT: 10px
}

.indexSolutionL {
    WIDTH: 6px;
    BACKGROUND: url(images/index_88.gif) no-repeat;
    HEIGHT: 131px
}

.indexSolutionC {
    WIDTH: 721px;
    BACKGROUND: url(images/index_89.gif) repeat-x;
    HEIGHT: 131px
}

.indexSolutionR {
    WIDTH: 6px;
    BACKGROUND: url(images/index_91.gif) no-repeat;
    HEIGHT: 131px
}

.indexSolutionCon {
    MARGIN: 1px auto 0px;
    WIDTH: 706px
}

.indexSolutionCon1 {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 24px;
    PADDING-LEFT: 12px;
    WIDTH: 142px;
    PADDING-RIGHT: 100px;
    DISPLAY: inline;
    BACKGROUND: url(images/index_100.gif) no-repeat;
    HEIGHT: 51px;
    PADDING-TOP: 44px
}

.indexSolutionCon2 {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 24px;
    MARGIN: 0px 12px;
    PADDING-LEFT: 0px;
    WIDTH: 133px;
    PADDING-RIGHT: 90px;
    DISPLAY: inline;
    BACKGROUND: url(images/index_102.gif) no-repeat;
    HEIGHT: 51px;
    PADDING-TOP: 44px
}

.indexSolutionCon3 {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 24px;
    PADDING-LEFT: 0px;
    WIDTH: 107px;
    PADDING-RIGHT: 98px;
    BACKGROUND: url(images/index_104.gif) no-repeat;
    HEIGHT: 51px;
    PADDING-TOP: 44px
}

.indexServiceC {
    WIDTH: 205px;
    BACKGROUND: url(images/index_89.gif) repeat-x;
    HEIGHT: 131px
}

.indexTzdh {
    BORDER-BOTTOM: #b3b3b3 1px solid;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 30px;
    MARGIN: 22px auto 0px;
    PADDING-LEFT: 10px;
    WIDTH: 940px;
    PADDING-RIGHT: 10px;
    HEIGHT: 30px;
    PADDING-TOP: 0px
}

.indexTzdh A {
    MARGIN: 0px 5px;
    COLOR: #003686
}

.indexTzdh A:hover {
    COLOR: #ff6b01
}

.examplelistwarp {
    WIDTH: 707px;
    FLOAT: left
}

.examplelistwarp2 {
    WIDTH: 707px;
    FLOAT: left;
    BORDER-TOP: #cccccc 1px dashed
}

.examplelistrow {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 10px;
    MARGIN: 5px;
    WIDTH: 707px;
    FLOAT: left
}

.examplelistrow DIV {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 45px;
    MARGIN: 5px;
    PADDING-LEFT: 0px;
    WIDTH: 150px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    HEIGHT: 45px;
    PADDING-TOP: 0px
}

.examplelistrow DIV A {
    LINE-HEIGHT: 45px;
    WIDTH: 150px;
    DISPLAY: block;
    FLOAT: left;
    FONT-SIZE: 20px;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.examplelistrow DIV A:hover {
    BORDER-BOTTOM: #eef7fd 1px solid;
    BORDER-LEFT: #eef7fd 1px solid;
    LINE-HEIGHT: 45px;
    WIDTH: 150px;
    DISPLAY: block;
    FLOAT: left;
    COLOR: #000000;
    BORDER-TOP: #eef7fd 1px solid;
    BORDER-RIGHT: #eef7fd 1px solid;
    TEXT-DECORATION: none
}

.emplyeespic {
    BORDER-BOTTOM: #d4d4d4 3px solid;
    BORDER-LEFT: #d4d4d4 3px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    WIDTH: 500px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #d4d4d4 3px solid;
    BORDER-RIGHT: #d4d4d4 3px solid;
    PADDING-TOP: 0px
}

.emplyeespic IMG {
    WIDTH: 500px
}

.serviceTitle1 {
    FONT-SIZE: 17px;
    FONT-WEIGHT: bold
}

.serviceTitle2 {
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.serviceTitle3 {
    MARGIN-LEFT: 30px
}

.serviceContent {
    MARGIN-LEFT: 50px
}

.glorylist {
    TEXT-ALIGN: center
}

.glorylist TABLE {
    TEXT-ALIGN: center;
    WIDTH: 600px
}

.glorylist TABLE TR TH {
    HEIGHT: 60px;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

* {
    BORDER-RIGHT-WIDTH: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    BORDER-TOP-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px
}

BODY {
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px;
    BACKGROUND: #eee;
    PADDING-TOP: 20px
}

#focus_change {
    POSITION: relative;
    WIDTH: 961px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND: #fff;
    HEIGHT: 339px;
    OVERFLOW: hidden
}

#loading {
    Z-INDEX: 9999;
    POSITION: absolute;
    TEXT-ALIGN: center;
    WIDTH: 961px;
    BACKGROUND: url(/images/loading.gif) #fff no-repeat center 50%;
    HEIGHT: 339px;
    COLOR: #666;
    FONT-SIZE: 12px
}

#pics LI {
    POSITION: absolute;
    TOP: 0px;
    LEFT: 0px
}

#pics LI IMG {
    FILTER: alpha(opacity = 0);
    WIDTH: 961px;
    HEIGHT: 339px;
    opacity: 0
}

#btn {
    Z-INDEX: 3;
    POSITION: absolute;
    BOTTOM: 8px;
    COLOR: #000;
    FONT-SIZE: 12px;
    RIGHT: 8px
}

#btn_bg {
    Z-INDEX: 3;
    POSITION: absolute;
    BOTTOM: 8px;
    COLOR: #000;
    FONT-SIZE: 12px;
    RIGHT: 8px
}

#btn LI {
    BORDER-BOTTOM: #cae6e3 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #cae6e3 1px solid;
    LINE-HEIGHT: 18px;
    WIDTH: 22px;
    FLOAT: left;
    HEIGHT: 18px;
    OVERFLOW: hidden;
    BORDER-TOP: #cae6e3 1px solid;
    MARGIN-RIGHT: 1px;
    BORDER-RIGHT: #cae6e3 1px solid
}

#btn_bg LI {
    BORDER-BOTTOM: #cae6e3 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #cae6e3 1px solid;
    LINE-HEIGHT: 18px;
    WIDTH: 22px;
    FLOAT: left;
    HEIGHT: 18px;
    OVERFLOW: hidden;
    BORDER-TOP: #cae6e3 1px solid;
    MARGIN-RIGHT: 1px;
    BORDER-RIGHT: #cae6e3 1px solid
}

#btn_bg LI {
    FILTER: alpha(opacity = 50);
    BACKGROUND: #fff;
    opacity: 0.5
}

#btn LI.current {
    BACKGROUND: #f60
}
