/*设置表单元素的行间距*/
body,input,select,textarea,button,.ui-btn{line-height:1}
/*菜单hover时的背景*/
.ui-listview li a.ui-btn,.ui-bar-b a.ui-link{color:#1a74ba}
.ui-listview li a.ui-btn:hover span.ui-btn-icon-left:after,
.ui-listview li a.ui-btn:hover span.ui-btn-icon-right:after,
.ui-listview li a.ui-btn:hover span.ui-btn-icon-top:after,
.ui-listview li a.ui-btn:hover span.ui-btn-icon-bottom:after,
.ui-listview li a.ui-btn:hover span.ui-btn-icon-notext:after{background-color:transparent}
.ui-listview li:hover .ui-btn-icon-left:after,
.ui-listview li:hover .ui-btn-icon-right:after,
.ui-listview li:hover .ui-btn-icon-top:after,
.ui-listview li:hover .ui-btn-icon-bottom:after,
.ui-listview li:hover .ui-btn-icon-notext:after{background-color:#ff980d}
/*链接相关样式*/
.ui-bar-b a.ui-link:hover{color:#fff}
.ui-panel-inner{padding:1em 1.4em 1em 1em}
.ui-field-contain>label+[class*="ui-"],.ui-field-contain .ui-controlgroup-controls{width:100%}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-select{width:33%}
.ui-field-contain,.ui-mobile fieldset.ui-field-contain{margin:0px}
.ui-content h3 {background-color: rgba(0, 0, 0, 0);color: #ab7c12;font-size: 1.4em;margin: 0; padding:0px; border-bottom:solid 1px #D8D8D8;}
.ui-block-a,.ui-block-b,.ui-block-c,.ui-block-d.ui-block-e { position:relative; }
.ui-navbar li:last-child .ui-btn {  margin-right:0px;}
.ui-select{margin-bottom:0em;margin-top:0em}

/*网站底部样式*/
.ui-footer{position:absolute;bottom:0;padding-bottom:0}
.ui-footer{border-top:1px solid #ab7c12}
.ui-footer p{font-size:.8em;color:#999;font-family:'Open Sans',sans-serif;font-weight:300;margin:0 1.25em 1.25em}
.ui-footer p:first-child{font-size:12px;color:#666;font-weight:400;margin:1em 1em .75em}

/*轮播图样式*/
.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }
.banner ul{padding:0px 5px}
.banner ul li{float:left;list-style:none}
.banner ul li img{width:100%}
.banner .dots {position: absolute;left: 0;right: 0;bottom: 0px;}
.banner .dots li {display: inline-block;width: 40px;height: 10px;float:right;margin: 0 4px;text-indent: -999em;cursor: pointer;opacity: .4;background:#333;-webkit-transition: background .5s, opacity .5s;-moz-transition: background .5s, opacity .5s;transition: background .5s, opacity .5s;}
.banner .dots li.active {background: #9B6C01;opacity: 1; }
.menuinfo{font-size:12px;line-height:2;font-weight:normal;margin-top:5px;}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after
{ background:transparent url(http://www.shiguwen.com/images/web/jt.png) center top no-repeat;}

/*菜单样式*/
#sitemenu li ul {position: absolute; z-index: 9999; width: 97%; display:none;}
#sitemenu li ul li { margin:0px;width: 160px;}#sitemenu li ul li a {border:solid 1px #ccc}
#head {border:#a57e05; border-top:solid 2px #57A8DE; padding-bottom:3px; background:#fff;}
#navbar { border-bottom:solid 1px #57A8DE;border-top:solid 1px #57A8DE;}
#sfzwq { padding:0px; margin:0px; list-style:none; line-height:2;}
#sfzwq li a { text-decoration:none;}